<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Header">
    <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Products</h1>
  </div>
  <div class="Polaris-Page__Content">
    <p>Wide page content</p>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
      <% end %>
    </ul>
  </div>
</div>
